.myNavbar{
    background-color: rgb(50, 50, 85);
    color: cornsilk;
    font-size: 2rem;
    &__container{
        display: flex;
        justify-content: space-between;
        &--items{
            list-style: none;
            margin: 1rem;
            padding: 1rem;
        }
    }
}